:root {
  --background-dark: #2d3548;
  --text-light: #5c5439;
  --text-lighter: rgba(255, 255, 255, 0.9);
  --theme-col: #ea580c;
  --pure-white: #fff;
  --text-black: #5c5439;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.part {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.body {
  height: 100%;
}

.btn {
  height: fit-content;
  width: 100px;
  padding: 0.25rem 0.75rem;
  font-size: 15px;
  color: var(--text-black);
  font-weight: 500;
  border-radius: 0.25rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.p-btn {
  color: var(--pure-white);
  border: 2px solid var(--theme-col);
  background-color: var(--theme-col);
}

.p-btn:hover {
  filter: saturate(0.7);
}

.s-btn {
  color: var(--theme-col);
  border: 2px solid var(--theme-col);
  background-color: transparent;
}

.navbar {
  height: 4rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: xx-large;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-black);
}

.l_initial {
  color: var(--theme-col);
}

.nav_link ul {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav_link ul li {
  margin: 0 0.75rem;
  margin-top: 0.15rem;
  padding-bottom: 2px;
  color: var(--text-black);
  font-weight: 500;
  cursor: pointer;
  line-height: 4rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  list-style: none;
}

.nav_link ul li:hover {
  border-bottom: 2px solid #ea580c;
}

.nav_link ul li:nth-child(1) {
  padding: 0;
  border-bottom: 2px solid var(--theme-col);
}

.cta_btn {
  display: flex;
}

.cta_btn .btn {
  margin: 0 0.25rem;
}

a {
  color: #000;
  text-decoration: none;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0 2rem;
  }

  .logo a {
    font-size: large;
  }

  .nav_link ul li {
    margin: 0 0.5rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .logo a {
    margin-bottom: 1rem;
    text-align: center;
  }

  .nav_link ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_link ul li {
    margin: 0.5rem 0;
    line-height: normal;
    border-bottom: none;
  }
}