@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #2d3548;
  --text-light: #5c5439;
  --text-lighter: rgba(255, 255, 255, 0.9);
  --theme-col: #ea580c;
  --pure-white: #fff;
  --text-black: #5c5439;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #f9fafb;
}

body {
    background-color: #f9fafb;
}